/Solution_2/b_differentsDesignPatterns/FactoryPattern/VehicleFactory/build/
/Solution_2/b_differentsDesignPatterns/FactoryPattern/VehicleFactory/nbproject/private/
/Solution_2/b_differentsDesignPatterns/BuilderPattern/VehicleBuilder/build/
/Solution_2/b_differentsDesignPatterns/BuilderPattern/VehicleBuilder/nbproject/private/